h1,h2 {
  font-family:monospace;
}

h1 {
  font-size: 32px;
}


h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-family: "Courier New";
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-family: "Courier New";
  font-style: italic;
}

ul {
  list-style-type: none;
  padding-inline-start: 20px;
}

.content {
  font-size: 16px;
  font-family: "Helvetica Neue";
  padding-top: 10px;
}

#blurbs {
  padding-top: 20px;
}

#menu {
  background: #005249;
  /* background: #FF5722; */
  color: #005249;
  padding-top: 10px;
  /* border-bottom: 5px solid red;
  border-top: 5px solid red; */
}

#left-col {
  background: #0a504d;
  /* background: #FF5722; */
  padding: 0px;
  border-top:10px solid #005249;
}

#menu:link {
  color: white;
}

#menu:visited {
  color: white;
}

#wlink:link {
  color: white;
}

#wlink:visited {
  color: white;
}

a:link {
  color: #005249;
  /* color: #FF5722; */
}

a:visited {
  color: #005249;
  /* color: #FF5722; */

}

#my-name {
  background: #005249;
  /* background: #FF5722; */
  padding-left:10px; 
  padding-top:10px;
}

#my-name:link {
  color: white;
}

#my-name:visited {
  color: white;
}

.social {
 overflow: auto;
 width: 100%;
 background: #005249;
 /* background: #FF5722; */
 /*
 Un-comment and change below
 flow to 'right' to put social
 links on top of the picture.
 position: absolute;
 top: 20%;
 right: 1.5%;
 */
}

.social li {
 list-style-type: none;
 float: left;

}

ul li a i {
 background: white;
 color: #005249;
 /* color: #FF5722; */
 width: 32px;
 height: 32px;
 font-size: 20px;
 text-align: center;
 margin-right: 5px;
 padding-top: 10%;


 /* color of social buttons */
}

/*
  Uncomment to change colors of individual social buttons

.fa-linkedin {
 background:#007bb6;
}

.fa-github {
  background:#000000;
}

.fa-envelope {
  background: #CC0000;
}

.fa-home {
  background: green;
}

.fa-location-arrow {
  background: #E6E600;
}

.fa-phone {
  background: green;
}
*/



/* p{
  background: #0a2172;
  color: #b98200;
  webkit-text-stroke: 0.5px white;
  font-family: monospace;
  font-size: 3vw;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2s steps(60, end);
  position: absolute;
  left: 1.5%;
  top: 20%;
  width: 35%;
} */

/* p:nth-child(2){
  animation: type2 4s steps(60, end);
} */

p a{
  color: white;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  /* This does the text highlight, like if you click and drag over words */
  background: #ffd622;
}

.himage {
   position: relative;
   width: 100%; /* for IE 6 */
   padding: 0px;
}

td {
  padding: 20px;
  vertical-align: top;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #005249 !important;
  border-color: #005249;
}