<html>
<head>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="https://raw.githubusercontent.com/lipis/bootstrap-social/gh-pages/bootstrap-social.css"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/custom.css">

<link rel="shortcut icon" href="/images/strawberry-icon.png"/>

</head>
<title>{{ page.title }}</title>

<body>
<div class="himage">

{% if page.title == "SK" %}
<img src="/images/connecticut_bw.JPG" class="img-responsive">
{% else %}
<img src="/images/connecticut_bw_small.JPG" class="img-responsive">
{% endif %}

<a href="/"><p>> Samantha Kolovson</p></a>


</div><!-- end header image -->

<div class="row" id="menu">
<table>
  <tr>
      <td style="padding-bottom:0px;"><h2 id="menu">
      <ul class="social">
          <li><a href="mailto:samantha@pointed.com"><i class="fa fa-envelope"></i></a></li>
          <li><a href="tel:508-259-0492"><i class="fa fa-phone"></i></a></li>
          <li><a href="http://github.com/kolovsam"><i class="fa fa-github"></i></a></li>
          <li><a href="http://linkedin.com/in/kolovsam"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://maps.google.com?daddr=Wayland+MA+01778"><i class="fa fa-home"></i></a></li>
          <li><a href="https://maps.google.com?daddr=Amherst+MA+01002"><i class="fa
            fa-location-arrow"></i></a></li>
      </ul>
    </h2></td>
        <td style="padding-right:30px;"><h2 id="menu">|</h2></td>
    <td style="padding-right:30px;"><a id="menu" href="/publications"><h2>> Publications</h2></a></td>
    <td style="padding-right:30px;"><h2 id="menu">|</h2></td>
    <td style="padding-right:30px;"><a id="menu" href="/projects"><h2>> Projects</h2></a></td>
    <td style="padding-right:30px;"><h2 id="menu">|</h2></td>

    <td style="padding-right:30px;"><a id="menu" href="/resume_cv"><h2>> Resume/CV</h2></a></td>
    <td style="padding-right:30px;"><h2 id="menu">|</h2></td>
    <!--<td style="padding-right:30px;"><a id="menu" href="/me"><h2>> Me</h2></a></td>
    <td style="padding-right:30px;"><h2 id="menu">|</h2></td>-->
    <td style="padding-right:30px;"><a id="menu" href="/blog"><h2>> Blog</h2></a></td>


  </tr>
</table>
</div><!-- end nav row -->

{{ content }}

</body>
</html>
