<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154886987-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154886987-1');
  </script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->


  <script src="https://raw.githubusercontent.com/lipis/bootstrap-social/gh-pages/bootstrap-social.css"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- my stylesheet-->
  <link rel="stylesheet" href="/custom.css">

  <!-- strawberry favicon in page title -->
  <link rel="shortcut icon" href="/images/strawberry-icon.png"/>

  <script>
    // function changeHimage()
    // {
    //   document.getElementById("himage").src = "images/" + getRandomImage();
    // }

    //JQuery
      $(document).ready(function(){
        $("#himage").attr("src", "/images/" + getRandomImage());
      });

    function getRandomImage() {
      var images = ["me-fire.JPG","uw-me-row.JPG", "uw-me-hold-oar.JPG", "uw-me-hold-boat.JPG"];
    
      return images[Math.floor(Math.random() * images.length)];
    }

</script>

</head>
<title>{{ page.title }}</title>

<body>

  <div class="container">

    <div class="row justify-content-center">
    
      <div class="col-md-3" id="left-col"><!-- LEFT COL -->
        <div><!--Header Image-->

          <!-- <img src="/images/me-fire.JPG" class="img-fluid"> -->
          <!-- <img src="/images/uw-me-row.JPG" class="img-fluid"> -->
          <img id="himage" src="/images/blank.png" alt="Randomly generated photo of Sam Kolovson. Photos by Mark Stone/University of Washington or edited by Rob Schilke." class="img-fluid">
          <!-- {% if page.title == "SK" %}
          <img src="/images/connecticut_bw.JPG" class="img-responsive">
          {% else %}
          <img src="/images/connecticut_bw_small.JPG" class="img-responsive">
          {% endif %} -->

          <!-- <a href="/"><p>> Samantha Kolovson</p></a> -->
        </div><!--End Header Image-->

        <div id="my-name"><!--My Name-->
          <h1><a id="my-name" href="/">Sam Kolovson</a></h1>
        </div><!--End Name-->
          
        <ul style="list-style-type: none;" id="menu"><!-- MENU -->
          <h2>
            <li><a id="menu" href="/publications"><h2>Publications</h2></a></li>
            <li><a id="menu" href="/teaching"><h2>Teaching</h2></a></li>
            <li><a id="menu" href="/projects"><h2>Projects</h2></a></li>
            <li><a id="menu" href="/cv"><h2>CV</h2></a></li>
            <li><a id="menu" href="/me"><h2>About Me</h2></a></li>
            <li><a id="menu" href="/blog"><h2>Blog</h2></a></li>
          </h2>
        </ul><!-- End MENU -->

        <ul class="social"><!-- SOCIAL LINKS -->
          <h2>
            <li><a href="mailto:kolovson@uw.edu"><i class="fa fa-envelope"></i></a></li>
            <!--li><a href="tel:508-259-0492"><i class="fa fa-phone"></i></a></li-->
            <li><a href="http://github.com/kolovsam"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/piledhighanddry/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/piledhighanddry"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://linkedin.com/in/kolovsam"><i class="fa fa-linkedin"></i></a></li>
            <!--li><a href="https://maps.google.com?daddr=Wayland+MA+01778"><i class="fa fa-home"></i></a></li>
            <li><a href="https://maps.google.com?daddr=Amherst+MA+01002"><i class="fa
              fa-location-arrow"></i></a></li-->
          </h2>
        </ul>
            
      </div><!-- end LEFT COL -->

      <div class="col-md-6" style="border-top:10px solid #bd2130;"><!-- RIGHT COL -->
        {{ content }}
      </div> <!--end RIGHT COL-->
    
    </div> <!--end row-->

  </div> <!--end container-->

</body>

</html>
